body {
    font-family: 'Open Sans', Arial, Tahoma;
    font-weight: 400;
    font-size: 1em;
    color: #363636;
    background: #ededed;
}
#photo-header {
    margin-top: -75px;
}
.box {
    padding-top: 0.5em;
}
.box p {
    font-size: 1.3em;
    line-height: 1.5em;
}
.contactItem .info{
    width: 80%;
    width: calc(100% - 55px);
    font-size: 1.5em;
    font-weight: 700;
    opacity: 0.9;
}
.contactItem .detail{
    width: 80%;
    width: calc(100% - 55px);
    font-size: 1.2em;
    opacity: 0.7;
}
.contactItem p{
    margin: 0;
}
#photo-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #ededed;
    display: inline-block;
}
.container {
    margin-top: 80px;
    margin-bottom: 15px;
    background: #fff;
}
ul {
    list-style: none;
}
#education {
    float: left;
    padding-left: 20px;
    position: relative;
}
#education:before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 44px;
    top: 0;
    content: ' ';
    display: block;
    background: #ec7263;
    background: -moz-linear-gradient(top, #ffffff 0%, #ec7263 7%, #ec7263 89%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#ec7263), color-stop(89%,#ec7263), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ec7263 7%,#ec7263 89%,#ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#ec7263 7%,#ec7263 89%,#ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ec7263 7%,#ec7263 89%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ec7263 7%,#ec7263 89%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

#education .year {
    width: 10%;
    background: #fff;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}

#education .detail{
    width: 90%;
    display: inline-block;
    background: #eee;
    margin-bottom: 10px;
    position: relative;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #ddd;
}
#education .detail h3 {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
#education .detail p {
    font-size: 1.3em;
    margin-top: 5px;
    padding: 0;
}
#education li {
    width: 100%;
    float: left;
    z-index: 2;
    position: relative;
}
.job {
    float: left;
    padding-top: 0.8em;
}
.job .where {
    font-size: 1.4em;
    font-weight: bold;
}
.job .year {
    font-size: 1.3em;
    opacity: 0.7;
}
.job .position{
    font-size: 1.6em;
    font-weight: bold;
}

.job .detail{
    font-size: 1.2em;
    line-height: 1.5em;
}
#contact {
    margin-left: 10px;
    float: left;
    padding-left: 0;
}
#contact span {
    padding: 10px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    opacity: 0.2;
    width: 40px;
    font-size: 20px;
}

#contact small{
    width: 80%;
    width: calc(100% - 55px);
    font-size: 1.2em;
    opacity: 0.7;
}

.contactItem {
    float: left;
    width: 100%;
}

.skill {
    background: #F0563D;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3em;
    font-weight: 600;
}
#skills {
    padding-left: 0;
}

#language .languageItem{
    font-size: 1.3em;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%
}

h2 {
    color: #EC7263;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}
h1 span {
    color: #F0563D;
}

h1 sup {
    opacity: 0.5;
}

h2:before {
    content: '//';
    margin-right: 5px;i
}

.hobby {
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background: #A75265;
    position: relative;
    font-size: 1.2em;
}

.star {
    color: red;
}

.lastStar {
    color: #7F7F7F;
}
